[submodule "libraries/SD"]
	path = libraries/SD
	url = https://github.com/adafruit/SD.git
[submodule "DHT-sensor-library"]
	path = DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "libraries/DHT-sensor-library"]
	path = libraries/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "libraries/RTClib"]
	path = libraries/RTClib
	url = https://github.com/adafruit/RTClib.git
